body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1B1818;
}

header,
footer {
    background-color: #332208;
}

header {
    margin-bottom: 50px;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-list {
    display: flex;
}

.menu-list li {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: transparent;
}

.menu-list li:hover {
    border-bottom: 1px solid #fefefe;
}

.menu-item {
    margin: 0 15px;
}

.phone {
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
}

.menu-btn {
    display: none;
}

.app-btn {
    display: inline-block;
    background-color: #c5ac2d;
    color: #fefefe;
    padding: 15px 25px;
    font-size: 26px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all .5s;
}

.app-btn:hover {
    background-color: #fefefe;
    color: #c5ac2d;
    border: 1px solid #c5ac2d;
}

.top {
    padding-bottom: 100px;
}

.top-heading {
    display: flex;
}

.top-content {
    text-align: center;
    padding-top: 90px;
    width: 50%;
}

.top-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    min-width: 455px;
    margin: 0 auto 20px;
}

.top-text {
    font-size: 24px;
    line-height: 28px;
    min-width: 470px;
    margin: 0 auto 60px;
}

.top-slider {
    width: 50%;
}

.top-slider .slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    background-color: #332208;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
    outline: none;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li.slick-active button {
    width: 16px;
    height: 16px;
}

.slick-dots li {
    margin: 0 9px;
    width: auto;
    height: auto;
}

.top-slider-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: 19px;
    padding-right: 100px;
    text-align: right;
}

.top-slider-text span {
    margin: 0 14px;
}

.top-slider-item img {
    width: 600px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 440px;
}

.top-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.top-items {
    display: flex;
    justify-content: space-around;
    margin-top: 29px;
}

.top-item {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #1b1818 solid 1px;
    margin: 0 25px;
    padding: 14px 10px 11px 11px;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.top-item:hover {
    transform: scale(1.25);
}

.top-item p {
    text-align: center;
}

.top-links {
    padding-right: 100px;
}

.top-link {
    color: #1b1818;
    line-height: 19px;
    border-bottom: 1px solid #1B1818;
    margin: 0 10px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 50px;
}


.benefits {
    padding: 100px 0;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-list {
    width: 300px;
}

.benefits-list-item {
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}

.benefits-list-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #1b1818;
    right: 0;
    top: 3px;
}

.benefits-list-item:nth-child(1),
.benefits-list-item:nth-child(7) {
    margin-right: 10px;
}

.benefits-list-item:nth-child(2),
.benefits-list-item:nth-child(6) {
    margin-right: 60px;
}

.benefits-list-item:nth-child(3),
.benefits-list-item:nth-child(5) {
    margin-right: 100px;
}

.benefits-list-item:nth-child(4) {
    margin-right: 150px;
}

.benefits-content {
    width: 300px;
    text-align: right;
    padding-bottom: 40px;
}

.benefits-text {
    margin-bottom: 30px;
}

.benefits-text+.benefits-text {
    width: 300px;
    margin-left: auto;
}

.video-popup {
    background-color: #c5ac2d;
    text-transform: uppercase;
    color: #fefefe;
    padding: 6px 40px 6px 70px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 200px;
}

.video-popup::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/play-btn.svg);
    top: 12px;
    left: 34px;
}

.rent {
    padding: 100px 0;
}

.rent__inner {
    display: flex;
    justify-content: space-around;
}

.rent-content {
    width: 300px;
}

.rent-content p {
    margin-bottom: 20px;
}

.rent-content .app-btn {
    margin-top: 21px;
}

.rent-title {
    width: 191px;
    margin-bottom: 61px;
}

.rent_item {
    border: 1px solid #332208;
    width: 250px;
    min-height: 350px;
    padding: 0 40px 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.rent_item-num {
    font-size: 96px;
    line-height: 115px;
    font-weight: 700;
    opacity: 0.05;
}

.rent_item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.review {
    background-color: #332208;
    color: #fefefe;
    padding: 100px 0;
}

.review-item {
    border: 1px solid #C5AC2D;
    padding: 46px 31px 45px 30px;
    width: 270px;
    height: 300px;
    margin-right: 30px;
    text-align: center;
    position: relative;
}

.review-item-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.review-item-text {
    position: absolute;
    left: 0;
    padding: 30px 31px 35px 30px;
    bottom: 20px;
}

.review .slick-list {
    margin-bottom: 25px;
}

.review-items .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.review-items .slick-dots li button {
    background-color: #C5AC2D;
}

.feedback__inner {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 415px;
    margin-left: 90px;
}

.feedback-form h3 {
    margin-bottom: 5px;
}

.feedback-form p {
    margin-bottom: 40px;
}

.feedback-form .app-btn {
    padding: 9px 10px;
    width: 200px;
    font-size: 16px;
    margin-top: 50px;
}

.feedback-form input {
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.feedback-form input::placeholder {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #1B1818;
}

footer {
    padding: 75px 0 25px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social li {
    margin: 0 15px;
}